<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>

    <h1>hello <%=name%></h1>
    <main>
        <form method="post" action="/contact">
            <input type="text" name="name" id="name">
            <input type="email" name="email" id="email">
            <button type="submit">submit</button>

        </form>
    </main>
</body>
</html>